<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav class="bottom-nav" aria-label="하단 메뉴" th:fragment="bottomNav">
      <a class="nav-item" th:href="@{/chat}" href="/chat">
        <img
          src="http://localhost:3845/assets/3ca81eaa50aaf4304e5454034789cf398897e16f.svg"
          alt=""
          aria-hidden="true"
        />
        <span>chat</span>
      </a>
      <a class="nav-item" th:href="@{/feed}" href="/feed">
        <img
          src="http://localhost:3845/assets/a25ca98a797a195cf0014d33755d97160983a834.svg"
          alt=""
          aria-hidden="true"
        />
        <span>feed</span>
      </a>
      <a class="nav-item" th:href="@{/}" href="/">
        <img
          src="http://localhost:3845/assets/6d060744ca344e07264a3340d1ce76267f035268.svg"
          alt=""
          aria-hidden="true"
        />
        <span>home</span>
      </a>
      <a class="nav-item" th:href="@{/match/select}" href="/match/select">
        <img
          src="http://localhost:3845/assets/a1c3341d0388b5ec41a25350c4e525c869160bdd.svg"
          alt=""
          aria-hidden="true"
        />
        <span>match</span>
      </a>
      <a class="nav-item" th:href="@{/my}" href="/my">
        <img
          src="http://localhost:3845/assets/1894082a888c5c07d733295ec6a54ed9b0711586.svg"
          alt=""
          aria-hidden="true"
        />
        <span>my</span>
      </a>
    </nav>
  </body>
</html>
