<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="bottom-nav" aria-label="하단 메뉴" th:fragment="bottomNav">
    <a class="nav-item" th:href="@{/chat}" href="/chat">
        <img
                th:src="@{/img/nav-chat.svg}"
                src="/img/nav-chat.svg"
                alt="채팅"
                aria-hidden="true"
        />
        <span>chat</span>
    </a>
    <a class="nav-item" th:href="@{/feed}" href="/feed">
        <img
                th:src="@{/img/nav-feed.svg}"
                src="/img/nav-feed.svg"
                alt="피드"
                aria-hidden="true"
        />
        <span>feed</span>
    </a>
    <a class="nav-item" th:href="@{/home}" href="/home">
        <img
                th:src="@{/img/nav-home.svg}"
                src="/img/nav-home.svg"
                alt="홈"
                aria-hidden="true"
        />
        <span>home</span>
    </a>
    <a class="nav-item" th:href="@{/match/select}" href="/match/select">
        <img
                th:src="@{/img/nav-match.svg}"
                src="/img/nav-match.svg"
                alt="매치"
                aria-hidden="true"
        />
        <span>match</span>
    </a>
    <a class="nav-item" th:href="@{/myPage}" href="/myPage">
        <img
                th:src="@{/img/nav-my.svg}"
                src="/img/nav-my.svg"
                alt="마이페이지"
                aria-hidden="true"
        />
        <span>my</span>
    </a>
</nav>
</body>
</html>
