alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: slack
      group_by: ["alertname", "namespace"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h
      routes:
        - receiver: "null"
          matchers:
            - alertname="Watchdog"
    receivers:
      - name: slack
        slack_configs:
          - api_url_file: /etc/alertmanager/secrets/alertmanager-slack/SLACK_WEBHOOK_URL
            channel: "#aws-알림-채널"
            send_resolved: true
            title: "[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}"
            text: |-
              {{ range .Alerts -}}
              *{{ .Labels.severity | default "info" }}* {{ .Annotations.summary }}
              {{ .Annotations.description }}
              {{ end }}
      - name: "null"
  alertmanagerSpec:
    secrets:
      - alertmanager-slack
