<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <title>RUNRUN | 매칭 선택</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Fugaz+One&display=swap"
      rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/match-select.css" th:href="@{/css/match-select.css}">
  <link rel="stylesheet" href="/css/notification-toast.css"
        th:href="@{/css/notification-toast.css}">
</head>
<body>
<main class="page">
  <header class="header">
    <button type="button" id="backBtn" class="back-button" aria-label="뒤로가기">
      <img th:src="@{/img/icons/back.svg}" src="/img/icons/back.svg" alt="뒤로가기">
    </button>
    <h1 class="header-title">매칭 선택</h1>
  </header>

  <section class="match-buttons">
    <button class="match-button match-button-online" data-match-type="online" type="button">
      <div class="match-icon">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" fill="currentColor"/>
        </svg>
      </div>
      <div class="match-content">
        <span class="match-label">온라인 매칭</span>
        <span class="match-description">실시간으로 다른 러너와 매칭</span>
      </div>
    </button>

    <button class="match-button match-button-offline" data-match-type="offline" type="button">
      <div class="match-icon">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
              fill="currentColor"/>
        </svg>
      </div>
      <div class="match-content">
        <span class="match-label">오프라인 매칭</span>
        <span class="match-description">주변 러너와 함께 달리기</span>
      </div>
    </button>

    <button class="match-button match-button-ghost" data-match-type="ghost" type="button">
      <div class="match-icon">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M12 2C8.13 2 5 5.13 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.87-3.13-7-7-7zm-1 10c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm2 0c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-4c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"
              fill="currentColor"/>
        </svg>
      </div>
      <div class="match-content">
        <span class="match-label">고스트 매칭</span>
        <span class="match-description">과거 기록과 경쟁하기</span>
      </div>
    </button>

    <button class="match-button match-button-solo" data-match-type="solo" type="button">
      <div class="match-icon">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
              fill="currentColor"/>
        </svg>
      </div>
      <div class="match-content">
        <span class="match-label">솔로 플레이</span>
        <span class="match-description">혼자서 자유롭게 달리기</span>
      </div>
    </button>
  </section>
</main>

<div
    id="bottomNavMount"
    th:replace="~{common/bottom-nav :: bottomNav}"
></div>

<script src="/js/api-common.js" th:src="@{/js/api-common.js}"></script>
<script src="/js/notification-common.js" th:src="@{/js/notification-common.js}"></script>
<script src="/js/match-select.js" th:src="@{/js/match-select.js}"></script>

</body>
</html>

